.instagram-wrap {
	width: 398px;
	margin: auto;
}

.instagram_gallery {
	margin-left: -4px;
	display: flex;
	flex-wrap: wrap;
}

.instagram_gallery a {
	width: 130px;
	height: 130px;
	margin-left: 4px;
	display: block;
	overflow: hidden;
	border-radius: 5px;
}

.instagram_gallery a:nth-child(n + 4) {
	margin-top: 4px;
}

.instagram_gallery img {
	width: 130px;
	height: 130px;
	transition: 0.5s;
	object-fit: cover;
	border-radius: 5px;
}

.instagram_gallery a:hover img {
	transform: scale(1.1, 1.1);
	opacity: 1;
	border-radius: 5px;
}

.instagram_gallery:hover a:not(:hover) img {
	opacity: 0.7;
}
